/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: 'Thillends';
  src: url(../assets/fonts/Thillends.otf);
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-background-body-color: rgb(255, 255, 255);
  --ion-border-element: rgb(153, 153, 153);
  --ion-background-elem-color: rgb(226, 226, 226);
  --ion-color-primary: rgb(0, 123, 255);
  --ion-color-logo: rgb(32, 33, 38);
  --ion-background-color: var(--ion-background-body-color);
  --ion-overlay-background-color: rgb(255, 255, 255);
  --ion-item-background: var(--ion-background-body-color);

  --ion-text-color: rgb(38, 39, 44);
  --ion-text-color-main: rgb(38, 39, 44);
  --ion-item-border-color: rgb(38, 39, 44);
  --ion-text-color-rgb: rgb(38, 39, 44);
  --ion-color-step-850: rgb(64, 89, 214);
}

:root {
  --ion-background-body-color: rgb(32, 33, 38);
  --ion-color-logo: rgb(255, 255, 255);
  --ion-background-elem-color: rgb(38, 39, 44);
  --ion-border-element: rgb(150, 150, 150);
  --ion-color-primary: rgb(0, 123, 255);
  --ion-background-color: var(--ion-background-body-color);
  --ion-overlay-background-color: var(--ion-background-body-color);
  --ion-item-background: var(--ion-background-body-color);

  --ion-text-color: rgb(153, 153, 153);
  --ion-text-color-main: rgb(255, 255, 255);
  --ion-item-border-color: rgb(38, 39, 44);
  --ion-text-color-rgb: rgb(255, 255, 255);
  --ion-color-step-850: rgb(255, 255, 255);
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body {
  --ion-background-body-color: #202126;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body {
  --ion-background-body-color: #202126;
}

* {
  transition: .3s ease;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-background-body-color: rgb(32, 33, 38);
    --ion-color-logo: rgb(255, 255, 255);
    --ion-background-elem-color: rgb(38, 39, 44);
    --ion-border-element: rgb(150, 150, 150);
    --ion-color-primary: rgb(0, 123, 255);
    --ion-background-color: var(--ion-background-body-color);
    --ion-overlay-background-color: var(--ion-background-body-color);
    --ion-item-background: var(--ion-background-body-color);

    --ion-text-color: rgb(153, 153, 153);
    --ion-text-color-main: rgb(255, 255, 255);
    --ion-item-border-color: rgb(38, 39, 44);
    --ion-text-color-rgb: rgb(255, 255, 255);
    --ion-color-step-850: rgb(255, 255, 255);
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-body-color: #202126;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-body-color: #202126;
  }
}